# Sistema Operacional - MacOS
.DS_Store
.AppleDouble
._*

# Sistema Operacional - Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Sistema Operacional - Linux
*~
.Trash-*

# Ambiente
.env
.env.*
venv/
.venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# Java
*.class
*.jar
*.war

# Git
.git
.gitignore

# Projeto
workspace/
