{% extends "base.html" %}

{% block title %} Primeira página {% endblock %}

{% block header %}
  <div class="wrapper-header">
    <div class="logo">
      <i class="fa-brands fa-java"></i>
    </div>

    <div class="navbar">
      <nav>
        <ul>
          <li>
            <a href="#">Início</a>
          </li>

          <li>
            <a href="#">Sobre Nós</a>
          </li>

          <li>
            <a href="#">Material</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}
