{% extends "material_base.html" %}

{% block title %} Material Page {% endblock %}

{% block material_content %}
  <main id="introduction" class="main-topic">
    <div class="material-title">
      <h1>Introdução ao <span class="span-decoration">Java</span></h1>
    </div>

    <section id="what-is-java" class="sub-topic">
      <h2>O que é Java?</h2>
    
      <p>Java é uma linguagem de programação de alto nível, orientada a objetos, amplamente utilizada para desenvolver uma variedade de aplicações, desde aplicativos móveis até sistemas corporativos. Criada por James Gosling e lançada pela Sun Microsystems em 1995, Java é conhecida por sua portabilidade, segurança e robustez. A filosofia "write once, run anywhere"
    </section>

    <section id="history-java" class="sub-topic">

    </section>

    <section id="java-features" class="sub-topic">

    </section>
    
    
  </main>
{% endblock %}


