html.is-changing .transition-fade {
  opacity: 0;
}

html.is-animating .overlay {
  transform: translateY(0);
  transition: transform 400ms ease-in-out;
}

html.is-rendering .overlay {
  transform: translateY(100%);
}
