<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Monitoria Java - {% block title %} Base HTML {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-material.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/code-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header-home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prism.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer">

    {% block extra_css %}{% endblock %}
</head>
<body>

    {% block header %}{% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}

    <script src="{{ url_for('static', filename='js/prism.js') }}"></script>

    {% block scripts %}{% endblock %}
</body>
</html>
