{% extends "base.html" %}

{% block content %}
  <aside class="sidebar">
    <nav class="navbar">
      <div class="java-logo">
        <i class="fa-brands fa-java java-icon"></i>

        <h1>Java Monitoria</h1>
      </div>
      <ul class="main-nav">
        <li class="li-main">
          <details class="chapter-accordion">
            <summary>
              <a href="{{ url_for('material_page.introduction') }}" class="main-link">Capítulo 1 - Introdução ao Java 🚀</a>

              <i class="fa-solid fa-chevron-right arrow-icon"></i>
            </summary>

            <ul class="sub-nav">
              <li class="sub-li">
                <a href="#what-is-java" class="sub-link">1.1 - O que é Java? 🌐</a>
              </li>

              <li class="sub-li">
                <a href="#history-java" class="sub-link">1.2 - História do Java 📜</a>
              </li>

              <li class="sub-li">
                <a href="#java-features" class="sub-link">1.3 - Características do Java ☑️</a>
              </li>

              <li class="sub-li">
                <a href="#good-practices" class="sub-link">1.4 - Boas Práticas de Programação ☑️</a>
              </li>

              <li class="sub-li">
                <a href="#purpose-java" class="sub-link">1.5 - Propósito do Java 🎯</a>
              </li>
            </ul>
          </details>
        </li>

        <li class="li-main">
          <details class="chapter-accordion">
            <summary>
              <a href="{{ url_for('material_page.basic_syntax') }}" class="main-link">Capítulo 2 - Sintaxe Básica 🧬</a>

              <i class="fa-solid fa-chevron-right arrow-icon"></i>
            </summary>

            <ul class="sub-nav">
              <li class="sub-li">
                <a href="#variables-and-data-types" class="sub-link">2.1 - Variáveis e Tipos de Dados 🧮</a>
              </li>

              <li class="sub-li">
                <a href="#arithmetic-and-logical" class="sub-link">2.2 - Operadores Aritméticos e Lógicos ➕➖</a>
              </li>

              <li class="sub-li">
                <a href="#conditionals-and-loops" class="sub-link">2.3 - Controle de Fluxo: Condicionais e Loops 🔄</a>
              </li>

              <li class="sub-li">
                <a href="#methods-and-functions" class="sub-link">2.4 - Métodos e Funções 🛠️</a>
              </li>

              <li class="sub-li">
                <a href="#error-and-exceptions" class="sub-link">2.5 - Tratamento de Erros e Exceções ⛔️</a>
              </li>

              <li class="sub-li">
                <a href="#poo" class="sub-link">2.6 - Programação Orientada a Objetos (POO) 🏷️</a>
              </li>
            </ul>
          </details>
        </li>

        <li class="li-main">
          <details class="chapter-accordion">
            <summary>
              <a href="{{ url_for('material_page.method_and_access') }}" class="main-link">Capítulo 3 - Métodos e Acessos 🔐</a>

              <i class="fa-solid fa-chevron-right arrow-icon"></i>
            </summary>

            <ul class="sub-nav">
              <li class="sub-li">
                <a href="#method-and-access" class="sub-link">3.1 - Modificadores de Acesso 🔒</a>
              </li>

              <li class="sub-li">
                <a href="#encapsulation-and-abstraction" class="sub-link">3.2 - Encapsulamento e Abstração 🛡️</a>
              </li>

              <li class="sub-li">
                <a href="#method-overloading" class="sub-link">3.3 - Sobrecarga de Métodos 🔄</a>
              </li>
            </ul>
          </details>
        </li>

        <li class="li-main">
          <details class="chapter-accordion">
            <summary>
              <a href="#" class="main-link">Capítulo 4 - Hierarquia de Classes 📈</a>

              <i class="fa-solid fa-chevron-right arrow-icon"></i>
            </summary>

            <ul class="sub-nav">
              <li class="sub-li">
                <a href="#" class="sub-link">4.1 - Herança e Polimorfismo 🧬</a>
              </li>

              <li class="sub-li">
                <a href="#" class="sub-link">4.2 - Classes Abstratas e Interfaces 🏗️</a>
              </li>

              <li class="sub-li">
                <a href="#" class="sub-link">4.3 - Pacotes e Organização de Código 📁</a>
              </li>
            </ul>
          </details>
        </li>
      </ul>
    </nav>
      <div class="mobile-btn">
        <i class="fa-solid fa-bars bars-icon"></i>
      </div>
  </aside>

  <div class="material-wrapper">
    {% block material_content %}{% endblock %}
  </div>
{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/material.js') }}"></script>
    <script src="{{ url_for('static', filename='js/prism.js') }}"></script>">
{% endblock %}
